.container{
  position: absolute;
  bottom: 1em;
  width: 50px;
  padding: 0.4em;
  left: calc(50% - 25px);
  border-radius: 50%;
  transition: all 200ms ease-in-out;
}

.container:focus{
  background-color: var(--independence);
  border-radius: 50%;
}

.downArrow{
  width: 35px;
  height: 35px;
  color:var(--rhythm)
}