.container{
  height: 100vh;
  width: 100%;
  background-color: var(--raisin-black);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:  center;
  padding-block-start: 50px;
}

.title{
  font-weight: var(--black);
  font-size: var(--title);
}

.ts{
  width: 35px;
  height: 35px;
  
}