.nav{
  display: none;
}


@media screen and (min-width: 1024px) {
  .nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    position: absolute;
    width: 100%;
    padding-block: 0.5em;
    background-color: var(--raisin-black);
    gap: 2em;
    left: 0;
    z-index: 1;
    border-block-end: 1px solid var(--rhythm);
    list-style: none;
    
  }

  .nav > li {
    position: relative;
  }
  
  .navlink{
    display: inline-block;
    color: white;
    border-radius: 10px;
    transition: all 200ms ease-in-out;
    cursor: pointer ;
    padding: 0.5em;
    position: relative;
    z-index: 2;
  }
  
  .navlink:hover{
    color: black;
    background-color: white;
  }
  
  .container_subnav{
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 87px;
    height: 170px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent;
    z-index: 1;
    transition: all 1s ease;
  }
  
  .subnav{
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5em;
    align-items: center;
    position: absolute;
    top: 60px;
    left: -50%;
    visibility: hidden;
    opacity: 0;
    padding-block: 1em;
    padding-inline: 1em;
    background-color: var(--raisin-black);
    border-radius: 15px;
    transition: all 200ms ease-in-out;
    list-style: none;
    box-shadow:
    0px 0.6px 2.2px rgba(0, 0, 0, 0.02),
    0px 1.3px 5.3px rgba(0, 0, 0, 0.028),
    0px 2.5px 10px rgba(0, 0, 0, 0.035),
    0px 4.5px 17.9px rgba(0, 0, 0, 0.042),
    0px 8.4px 33.4px rgba(0, 0, 0, 0.05),
    0px 20px 80px rgba(0, 0, 0, 0.07);
  }
  
  .navlink:hover ~ .container_subnav{
    visibility: visible;
  }
  
  .navlink:hover ~ .container_subnav .subnav{
    visibility: visible;
    opacity: 1;
  }

  .navlink ~ .container_subnav:hover .subnav{
    visibility: visible;
    opacity: 1;
  }

  .navlink:focus-visible ~ .container_subnav{
    visibility: visible;
  }
  
  .navlink:focus-visible ~ .container_subnav .subnav{
    visibility: visible;
    opacity: 1;
  }

  .navlink ~ .container_subnav:focus-visible .subnav{
    visibility: visible;
    opacity: 1;
  }
}
