@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --height: 0px;
}

@layer base {
  html {
    @apply bg-raisin-black;
    } 
  h1 {
    @apply font-black text-5xl;
  }
  h2 {
    @apply font-black text-3xl;
  }
  h3 {
    @apply font-bold text-3xl;
  }
  figure {
    @apply flex flex-col justify-center content-center text-center gap-2;
  }
  a {
    @apply inline-block h-min;
  }

  select{
    @apply text-font-primary;
  }

  option{
    color: black;
  }

  #__next{
    height: 100%;
  }
  main{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    @apply font-light;
    overflow-y: scroll;
    @apply text-font-primary;
    height: 100%;
  }
}

@layer components{
  .page{
    position: relative;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    height:100%;
  }

  .subnav > * {
    width:100%;
    bg:red;
  }

  a:hover > .overlay-subnav {
    display:block;
  }

  .overlay-subnav{
    display:none;
    background: transparent;
    position:absolute;
    top:100%;
    left:-7%;
    padding-block-start:1em;
  }

  a:hover > .overlay-subnav > .subnav {
    display:flex;
    opacity:1;
    color:white;
  }
  .subnav{
    display:none;
    transition: all 150ms ease-in-out;
    opacity:0;
    flex-direction:column;
    gap:0.5em;
    align-items:center;
    justify-content:flex-start;
    text-align:center;
    @apply bg-raisin-black shadow-lg rounded-xl outline outline-1 outline-rhythm;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* font-weight: var(--light); */
}

html, body {
  height: 100%;
  overflow: hidden;
  font-size: clamp(1rem, 0.75rem + 1.2vw, 1.1rem);
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a{
  color: inherit;
  text-decoration: none;
}

a:visited{
  color: inherit;
}

#root, #__next {
  isolation: isolate;
  overflow: hidden;
}

::-webkit-scrollbar{
  width: 7px;
} 

::-webkit-scrollbar-track{
  background:var(--raisin-black);
}

::-webkit-scrollbar-thumb{
  background:var(--rhythm);
  border-radius:100px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover{
  background: var(--old-lavender);
}
