.container{
  height: 100vh;
  background-color: var(--raisin-black);
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:  center;
  padding-block-end: 5em;
}

.title{
  font-weight: var(--black);
  font-size: var(--title);
}

.figure{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0.5em;
  gap: 0.5em;
  position: relative;
  height: 100%;
}

  
.figcaption{
  color:white;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.techs{
  display: grid;
  grid-template-columns: 1fr repeat(3, 90px) 1fr;
  grid-template-rows: repeat(3, auto);
  place-items: center;
  width: fit-content;
  padding-block-start: 2em;
  row-gap: 1em;
  column-gap: 0.5em;
}

.techs a{
  text-decoration: none;
}

.ts_link{
  grid-column: 2;
}

.react_link{
  grid-column: 3;
}

.js_link{
  grid-column: 4;
}

.html_link{
  grid-column: 2 / 4;
  grid-row: 2;
}

.css_link{
  grid-column: 3 / 5;
  grid-row: 2;
}

.chakra_link{
  grid-column: 2 / 4;
  grid-row: 3;
}

.styled_link{
  grid-column: 3 / 5;
  grid-row: 3;
}

/* Icons */

.ts{
  width: 45px;
  height: 45px;
}

.react{
  width: 45px;
  height: 45px;
}

.js{
  width: 45px;
  height: 45px;
}

.html{
  width: 50px;
  height: 50px;
}

.css{
  width: 50px;
  height: 50px;
}

.chakra{
  width: 40px;
  height: 40px;
}

.styled{
  width: 40px;
  height: 40px;
}


@media screen and (min-width:768px){
  .container{
    justify-content: center;
    padding: 0;
    padding-block-end: 2em;
  }
  
  .techs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    width: 600px;
    height: fit-content;
    gap: 1em;
    padding-block-start: 4em;
  }

  .figcaption{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .figure{
    width: 120px;
    height: 112px;
  }

  .ts{
    width: 50px;
    height: 50px;
  }
  
  .react{
    width: 50px;
    height: 50px;
  }
  
  .js{
    width: 50px;
    height: 50px;
  }
  
  .html{
    width: 50px;
    height: 50px;
  }
  
  .css{
    width: 50px;
    height: 50px;
  }
  
  .chakra{
    width: 45px;
    height: 45px;
    margin-block-end: 0.5em;
  }
  
  .styled{
    width: 45px;
    height: 45px;
    margin-block-end: 0.5em;
  }
}


@media screen and (min-width:1024px) {
  .figure::after{
    content:"";
    width: 2px;
    height: 0%;
    position: absolute;
    background-color: white;
    left: 0;
    bottom: 0;
    transition: all 300ms ease-in-out;
  }
  
  
  .figure:hover::after{
    visibility: visible;
    height: 100%;
  }
  
  .figure::before{
    content:"";
    width: 2px;
    height: 0;
    position: absolute;
    background-color: white;
    right: 0;
    top: 0;
    transition: all 300ms ease-in-out;
  }
  
  .figure:hover::before{
    height: 100%;
  }
  
  .figcaption::after{
    content:"";
    width: 0;
    height: 2px;
    position: absolute;
    background-color: white;
    left: 0;
    top: 0;
    transition-delay: 0.3s;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
  }
  
  .figure:hover .figcaption::after{
    width: 100%;
  }
  
  .figcaption::before{
    content:"";
    width: 0;
    height: 2px;
    position: absolute;
    background-color: white;
    right: 0;
    bottom: 0;
    transition-delay: 0.3s;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
  }
  
  .figure:hover .figcaption::before{
    width: 100%;
  }
}
