.container{
  position: absolute;
  bottom: 1em;
  width:fit-content;
  padding: 0.7em;
  left: calc(50% - 24px);
  border-radius: 50%;
  transition: all 200ms ease-in-out;
}

.container:hover{
  background-color: var(--independence);
}

.arrow{
  position: relative;
  top: 2px;
  width: 25px;
  height: 25px;
}
