.article{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  text-align: center;
}

.project{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
  transition: all 1s ease-in-out;
}

.img{
  display: none;
  transition: all 700ms ease-in-out;
}

.subtitle{
  font-size: var(--subtitle);
  font-weight: var(--medium);
}

.link{
  text-decoration: none;
  position: relative;
  color: white;
  padding: 0.5em;
  transition: all 200ms ease-in-out;
  border-radius: 5px;
}

.link:hover{
  background-color: white;
  color: black;
}


.about{
  min-width: 240px;
  max-width: 370px;
}

.techs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 1em;
}

.firstRow{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1em;
  padding-inline-start: 0.5em;
}

.secondRow{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1em;
}

/* Icons */

.chakra{
  width: 35px ;
  height: 35px ;
}

.react{
  width: 40px ;
  height: 40px ;
}

.github{
  width: 40px ;
  height: 40px ;
}

.html{
  width: 40px ;
  height: 40px ;
}

.css{
  width: 40px ;
  height: 40px ;
}

.ts{
  width: 40px ;
  height: 40px ;
}

.styledComponents{
  width: 35px;
  height: 35px;
}

.js{
  width: 40px;
  height: 40px;
}


@media screen and (min-width: 768px) {
  .img{
    display: initial;
    width: 400px;
    height: 350px;
    object-fit: cover;
    border-radius: 15px;
  }
  
}


@media screen and (min-width:1024px) {
  .img{
    width: 600px;
  }
}
